@page "/"

@using ZelekWieclaw.VisualProgrammingProject.BL
@using ZelekWieclaw.VisualProgrammingProject.Interfaces
@rendermode InteractiveServer
@inject ILogger<IBeerProducer> Logger

<h1>Beer Producers</h1>

@if (beerProducers == null)
{
    <p>Loading...</p>
}
else
{
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Search Producers" @bind="searchTerm" @oninput="SearchProducers" />
    </div>

    @if (!filteredProducers.Any())
    {
        <p>No beer producers found.</p>
    }
    else
    {
        <ul class="list-group">
            @foreach (var producer in filteredProducers)
            {
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <a href="@($"/producerbeers/{producer.Id}")">
                        @producer.Name (@producer.Country) - Founded in @producer.FoundationYear
                    </a>
                    <span>
                        <a href="@($"/addproduct/{producer.Id}")" class="btn btn-sm btn-success">Add beer</a>
                        <a href="@($"/editproducer/{producer.Id}")" class="btn btn-sm btn-primary">Edit</a>
                        <button class="btn btn-sm btn-danger" @onclick="() => DeleteProducer(producer.Id)">Delete</button>
                    </span>
                </li>
            }
        </ul>
    }
}

@code {
    private IEnumerable<IBeerProducer>? beerProducers;
    private IEnumerable<IBeerProducer>? filteredProducers;
    private CatalogService cs = new CatalogService();
    private string searchTerm = string.Empty;

    protected override void OnInitialized()
    {
        beerProducers ??= cs.GetAllBeerProducers();
        filteredProducers ??= beerProducers;
    }

    private void SearchProducers(ChangeEventArgs e)
    {
        searchTerm = e.Value.ToString();
        if (string.IsNullOrWhiteSpace(searchTerm))
        {
            filteredProducers = beerProducers;
        }
        else
        {
            filteredProducers = beerProducers
                .Where(p => p.Name.Contains(searchTerm, StringComparison.OrdinalIgnoreCase));
        }
    }

    private async Task DeleteProducer(int producerId)
    {
        Logger.LogInformation($"Deleting producer with ID: {producerId}");
        cs.DeleteBeerProducer(producerId);
        beerProducers = cs.GetAllBeerProducers();
        filteredProducers = beerProducers;
    }
}